@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #FFFF;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
p {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.score {
  position: absolute;
  color: white;
  transform: translateY(-14px);
  margin-left: 10px;
  width: 34px;
  height: 34px;
  background-color: #204529;
  border-radius: 20px;
}
.movie-card {
  position: relative;
  background-size: cover;
  background-position-y: -95px;
}

.movie-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad aquí */
}
.poster {
  width: 80%;
  border-radius: 25px;
}
.movie-poster {
  min-width: 300px;
  width: 300px;
  height: 450px;
}
.content {
  display: flex;
  z-index: 9999;
  position: relative;
}
.score-static {
  color: white;
  align-content: center;
  padding: 6px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  display: flex;
  width: 68px;
  background-color: #081c22;
  border-radius: 100px;
}
.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-style: italic;
  opacity: .7;
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 9999999;
}

.circle-icon {
  background-color: #081c22;
  box-sizing: border-box;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
}
.description {
  width: 80%;
}
.title {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.director-container {
  margin-right: 20%;
}
.carrousell {
  position: relative;
  overflow: hidden;
  width: 80%;
}
.carrousell::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  height: 100%;
  transform: translateY(-50%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.carrousell-container {
  margin-right: 20px;
  min-width: 140px;
  width: 140px;
  height: 320px;
}
.right-container {
  width: 20%;
  padding: 10px;
}
.clasification {
  border: 1px solid rgba(255,255,255,0.6);
  color: rgba(255,255,255,0.6);
  padding: 0.06em 4px 0.15em !important;
  line-height: 1;
  display: inline-grid;
  align-content: center;
  border-radius: 2px;
  margin-right: 7px;
}
.more {
  position: absolute;
  padding-left: 8.5%;
  padding-top: 1%;
  opacity: .6;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  font-size: 0.875rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cast {
  display: flex;
  margin-bottom: 5rem;
}
.main-content {
  display: flex;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}
.movie-list {
  padding: 2.5rem;
}
.filter-container{
  width: 25%;
}
.percentage-info {
  display: flex;
}
.movie-clasification {
  display: flex;
}
.social-link {
  margin-right: 10px;
}
.social-icons {
  display: flex;
}
.link {
  border-left: 1px solid #d7d7d7;
  padding-left: 8px;
}
@media only screen and (max-width: 767px ) {
  .content {
    display: block;
  }
  .social-icons {
    display: -webkit-inline-box;
  }
  .navbar {
    display: block;
  }
  .cast {
    display: block;
  }
  .main-content {
    display: contents;
  }
  .card-grid {
    display: block;
  }
  .percentage-info {
    display: block;
  }
  .movie-list {
    padding: 0;
  }
  .filter-container{
    width: 100%;
    padding-bottom: 10%;  
  }
  .movie-clasification {
    display: block;
  }
}
